
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.section {
  background: linear-gradient(
    90deg,
    #fef3c7 50%,
    #ffffff 50%
  );
  padding: 70px 0;
  text-align: left;
  
}

.section-heading {
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* CONTACT */
.contact-text {
  font-size: 18px;
  margin-left: 20px;
  
}

.light {
  background-color: #f7f9fc;
}

/* HEADER */
.header {
  background: linear-gradient(90deg, #4e54c8, #8f94fb);
  padding: 15px 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 26px;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.nav-item:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  background: linear-gradient(
    90deg,
    #fef3c7 50%,
    #ffffff 50%
  );
  padding: 80px 0;
}



.hero-flex {
  display: flex;
  align-items: center;
  gap: 40px;
}

.avatar {
  width: 350px;
  border-radius: 20%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.hero-name {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-desc {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

/* CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  margin-bottom: 10px;
}



/* FOOTER */
.footer {
  background: linear-gradient(90deg, #4e54c8, #8f94fb);
  color: white;
  text-align: center;
  padding: 15px;
}

/* ========================= */
/* RESPONSIVE DESIGN */
/* ========================= */

/* Tablets */
@media (max-width: 900px) {
  .hero-flex {
    flex-direction: column;
    text-align: center;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .header-flex {
    flex-direction: column;
    gap: 10px;
  }

  .nav-item {
    margin: 0 10px;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .hero-name {
    font-size: 28px;
  }
}
